.reveal section img {
  border: 0px;
}

.reveal img.transparent {
  background: none;
  box-shadow: none;
}

.reveal img.inline {
  margin: 0;
  vertical-align: middle;
}

.reveal code {
  color: #e91e63;
}
